* {
  box-sizing: border-box;
}

html {
  background: url(https://i.imgur.com/AjKPHD3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headers {
  width: 50%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.description {
  margin: 20px 0 30px 0 !important;
}

.forms {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.lable {
  margin: 20px 0 10px 0 !important;
}

textarea {
  height: 100px !important;
}

.sect {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px 30px 20px;
  box-shadow: 1px 6px 4px 5px  rgba(0,0,0,0.2);
}

.main-title {
  font-family: "Marck Script" !important;
  font-size: 60px !important;
}

.hero {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 6px 4px 5px  rgba(0,0,0,0.1);
}

.submit {
  display: flex;
  justify-content: center;
  margin: 30px 0 60px 0;
}

.thanks {
  height: 100vh;
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer {
  background-color: rgba(255, 255, 255, 0.1);
  height: 50px !important;
  padding: 10px;
}

@media only screen and (orientation: portrait) {
  .headers {
    width: 90%;
  }
  .main-title {
    font-size: 70px !important;
  }
  .forms {
    width: 90%;
  }
  p {
    font-size: 40px !important;
  }
  .lable {
    font-size: 40px !important;
  }
  input[type=radio] {

    transform: scale(5);
    margin: 30px;
  }

  span {
    font-size: 40px !important;
  }
  .button {
    height: 150px !important;
    width:500px !important;
    font-size: 50px;
  }
  input {
    height: 100px !important;
  }
}
